// Colors

$clr-black: #0b0d17;
$clr-blue: #d0d6f9;
$clr-white: #fff;

// Typography

$font-primary: "Barlow", "Arial", system-ui, sans-serif;
$font-primary-dense: "Barlow Condensed", "Arial", system-ui, sans-serif;
$font-secondary: "Bellefair", "Arial", system-ui, serif;
